@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is My First MVC</h1>
    <p>The foremost authority fro good humor tha you will find anywhere on your localhost.</p>
</div>
